alabaster==0.7.9
argh==0.26.2
Babel==2.3.4
cffi==1.8.3
coverage==4.2
cryptography==1.5.2
dj-database-url==0.4.2
Django==1.10.2
django-authtools==1.5.0
docutils==0.13.1
ecdsa==0.13
Fabric3==1.12.post1
gunicorn==19.6.0
idna==2.1
imagesize==0.7.1
Jinja2==2.9.4
livereload==2.5.1
MarkupSafe==0.23
paramiko==2.0.2
pathtools==0.1.2
Pillow==3.4.1
port-for==0.3.1
psycopg2==2.6.2
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
Pygments==2.2.0
pyperclip==1.5.27
pytz==2016.10
PyYAML==3.12
reportlab==3.3.0
requests==2.12.5
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.2
sphinx-autobuild==0.6.0
tornado==4.4.2
watchdog==0.8.3
xlwt==1.1.2
