cffi==1.7.0
coverage==4.2
cryptography==1.4
Django==1.10
ecdsa==0.13
Fabric3==1.12.post1
gunicorn==19.6.0
idna==2.1
paramiko==2.0.2
psycopg2==2.6.2
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
pyperclip==1.5.27
six==1.10.0
