cffi==1.7.0
cryptography==1.4
dj-database-url==0.4.1
Django==1.9.7
ecdsa==0.13
Fabric3==1.11.1.post1
idna==2.1
paramiko==2.0.1
psycopg2==2.6.2
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
six==1.10.0
whitenoise==3.2
