.invalid .x-grid-cell {
    background-color: #FFEBEE;
    color: #C62828;
}

.invalid-record.x-grid-cell {
    background: #FFCDD2;
}

.invalid .x-grid-cell-selected {
    background-color: #ffefbb !important;
}
