$base-color: #35baf6;

$circle-border-radius: 50%;
$base-border-color: #ddd;
$lightest-color: #fff;
$font-weight: 400;
$font-weight-bold: 500;

$accordion-header-background-color: $lightest-color;
$accordion-header-color: #333;
