.x-grid-cell.userEntry {
    background-color: #FFEBEE;
    color: #C62828;
}

.x-grid-cell.facilityEntry {
    background-color: #DCEDC8;
    color: #388E3C;
}

.incoming-libraries-group-header {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 33px;
    line-height: 33px;
    margin-top: -8px;
}
