.deep-seq-request-mask .x-mask-msg-text {
	font-size: 14px;
    background: transparent !important;
    padding: 5px !important;
}

.status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 3px auto 0;
}

.status.pending-submission {
	background-color: #9E9E9E;
}

.status.submission-completed {
	background-color: #ffc107;
}

.status.quality-check-approved {
	background-color: #66BB6A;
}

.status.quality-check-failed {
	background-color: #ef5350;
}
