.deep-seq-request-mask .x-mask-msg-text {
	font-size: 14px;
    background: transparent !important;
    padding: 5px !important;
}

.request-status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 3px auto 0;
}

.pending-submission {
	background-color: #9E9E9E;
}

.pending-quality-check {
	background-color: #FFC107;
}
