#login-form {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -175px;
    width: 350px;
    height: 300px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form-signin {
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    opacity: .9;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 30px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .link-forgot-password {
    margin-bottom: 10px;
}

.form-signin .link-forgot-password a {
    color: #35baf6;
    font-size: 13px;
}

#login-form input[type="submit"] {
    background-color: #9cc96b;
    border: 1px solid #90c258;
    border-radius: 3px;
}

#login-form input[type="submit"]:hover {
    background-color: #90c258;
}

#block-404, #block-500 {
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -135px;
    margin-left: -275px;
    width: 550px;
    height: 270px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#block-404 h1, #block-500 h1 {
    font-size: 150px;
    font-weight: normal;
    line-height: 150px;
}

#block-404 p, #block-500 p {
    line-height: 24px;
    font-size: 18px;
}

#block-404 p a, #block-404 p a:visited, #block-404 p a:focus,
#block-500 p a, #block-500 p a:visited, #block-500 p a:focus {
    color: #35baf6;
    text-decoration: none;
}

#block-404 p a:hover, #block-500 p a:hover {
    text-decoration: underline;
}
