{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <style>
        body {
            background-image: url("{% static 'images/error-page-background.jpg' %}");
            background-size: cover;
            color: #fff;
        }
    </style>
{% endblock css %}

{% block title %}Internal Server Error{% endblock title %}

{% block content %}
    <div id="block-500">
        <h1>500</h1>
        <p>
            Something went wrong and server could not process your request.<br />
            Try going back to the <a href="{% url 'index' %}">Home page</a> or contact the administrator.
        </p>
    </div>
{% endblock %}
