{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>{% block title %}Django App{% endblock title %}</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/extjs/build/classic/theme-triton/resources/theme-triton-all.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}{% endblock css %}

    <script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/extjs/build/ext-all-debug.js' %}"></script>
    {% block extjs_app %}{% endblock extjs_app %}

    <script>
        Ext.onReady( function() {
            Ext.create("Ext.panel.Panel", {
                title: "Panel",
                html: "<h1>Hello World!</h1>",
                renderTo: Ext.getBody()
            });
        });
    </script>
</head>

<body>

{% block content %}{% endblock content %}

<!-- js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block js %}{% endblock js %}
</body>
</html>