{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>{% block title %}Django App{% endblock %}</title>

{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'extjs-workspace/ext/build/classic/theme-triton/resources/theme-triton-all.css' %}">

    {# Global variables #}
    {% include 'globals.html' %}

    {% block css %}{% endblock %}
    {% block extjs_app %}{% endblock %}

    <script type="text/javascript" src="{% static 'extjs-workspace/global/overrides/csrf.js' %}"></script>

{#    <script type="text/javascript" src="{% static 'extjs-workspace/ext/build/classic/theme-triton/theme-triton-debug.js' %}"></script>#}
</head>

<body>

{% block content %}{% endblock %}

{% block js %}{% endblock %}
</body>
</html>