{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>{% block title %}Parkour LIMS{% endblock %}</title>

    <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block css %}{% endblock %}
{#    {% block extjs_app %}{% endblock %}#}
</head>

<body>

{% block content %}{% endblock %}

<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
