{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <style>
        body {
            background: url("{% static 'images/login-page-background.jpg' %}") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }
    </style>
{% endblock css %}

{% block title %}Parkour | Login{% endblock title %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <p class="lead text-center">Your username and password didn't match. Please try again.</p>
    </div>
{% endif %}

<div id="login-form">
    <form class="form-signin" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">Parkour</h2>
        <input type="text" class="form-control" id="id_username" name="username" placeholder="Email" required="" autofocus="" />
        <input type="password" class="form-control" id="id_password" name="password" placeholder="Password" required=""/>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>

{% endblock %}
