{% load i18n %}
{% autoescape off %}

{% blocktrans %}
You're receiving this email because you requested an access to Parkour at {{ site_name }} for your user account. You've been given a random password, please change it:
{% endblocktrans %}

{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Parkour Support" %}

{% endautoescape %}
