a {
    color: $color-soft-cyan;
    text-decoration: none;
}

hr {
    border-top: 1px solid #ccc;
}

.x-title-icon-navigation {
    font-family: FontAwesome;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}

.x-tab-icon-el-navigation {
    font-family: FontAwesome;
    color: #acacac;

    .x-tab-over & {
        color: #c4c4c4;
    }

    .x-tab-active & {
        color: #fff;
    }
}

.x-panel-header-title-navigation > .x-title-text-navigation:after {
    top: 30px;
    right: -24px;
}

.x-grid-dirty-cell.no-dirty > .x-grid-cell-inner:after {
    content: '';
}

.fa-lg {
    line-height: 0.9em;
}

@include treelist-ui(
    $ui: 'navigation',
    $padding: 0 10px,

    // Black-ish background color
    $background-color: $panel-navigation-background-color,
    $toolstrip-background-color: #32404e,

    $tool-float-indicator-color: $panel-header-background-color,
    $tool-float-indicator-width: 5px,

    $tool-indicator-selected-color: $panel-header-background-color,
    $tool-indicator-selected-width: 5px,
    $tool-selected-background-color: mix(white, $panel-navigation-background-color, 10%),
    //$tool-selected-color: #fff,
    //$tool-selected-background-color: $panel-header-background-color,

    // Darker background for expanded subtrees
    $item-expanded-background-color: #2c3845,

    // Taller line height
    $item-line-height : $panel-navigation-item-line-height,
    // $item-line-height: 50px,

    $row-over-background-color: mix(white, $panel-navigation-background-color, 5%),
    $row-selected-background-color: mix(white, $panel-navigation-background-color, 10%),

    // Off-white text
    $item-icon-color: $panel-navigation-item-text-color,
    $item-expander-color: #fff,
    $item-text-color: #ADB3B8,

    // Brighter when hovered
    $item-icon-over-color: #fff,
    $item-expander-over-color: #fff,
    $item-text-over-color: mix(white, $panel-navigation-item-text-color, 50%),
    $item-text-font-size: 14px,

    // Various sizes for the pieces:
    $item-icon-font-size: 18px,
    $item-icon-width: 44px,
    $item-expander-font-size: 16px,
    $item-expander-width: 24px,

    // Style the "row indicator" (the vertical stripe on the left edge):
    $row-indicator-width: 5px,
    $row-indicator-selected-color: $panel-header-background-color,
    $row-indicator-selected-over-color: lighten($panel-header-background-color, 7%),
    $row-indicator-over-color: transparent
);

//--------------------------------------------------------
// Create classes for full-size responsive items
.big-100 {
    @include responsivecolumn-item(100%);
}

.big-60 {
    @include responsivecolumn-item(60%);
}

.big-50 {
    @include responsivecolumn-item(50%);
}

.big-40 {
    @include responsivecolumn-item(40%);
}

.big-33 {
    @include responsivecolumn-item(33.33%);
}

.big-20 {
    @include responsivecolumn-item(20%);
}

//--------------------------------------------------------
// And classes for small-size responsive items
.x-responsivecolumn-small {
    >.small-100 {
        @include responsivecolumn-item(100%);
    }
    >.small-50 {
        @include responsivecolumn-item(50%);
    }
}

//--------------------------------------------------------

.shadow {
    @include box-shadow(0 1px 2px 0 rgba(0,0,0,0.2));
}

.main-logo {
    background-color: $base-color;
    height: 65px;

    font-size: 16px;
    color: $lightest-color;
    margin-left: 17px;

    .logo {
        line-height: 65px;
        position: relative;

        img {
            margin-left: 17px;
            margin-right: 17px;
            position: absolute;
            top: 17px;
        }

        .title {
            font-weight: bold;
            margin-left: 60px;
        }
    }
}

.main-logo.logo-collapsed {
    .logo {
        .title {
            margin-left: 65px;
        }
    }
}

.sencha-dash-dash-headerbar {
    padding: 0 30px 0 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    border: none;
}

.grid-header-checkbox {
    font-size: 13px;
}

.grid-header-checkbox,
.grid-header-checkbox > div.x-form-item-body > div.x-form-cb-wrap-inner > span.x-form-checkbox,
.grid-header-checkbox label.x-form-cb-label {
    color: #fff;
}

.panel-header-combobox > .x-form-item-label > span.x-form-item-label-inner {
    color: #fff;
}

@import "../../ui/Buttons";
