.download-pooling-template {
    float: right;
}

.download-pooling-template a,
.download-pooling-template a:hover {
    color: #606060;
}

.library-not-prepared {
    color: #9e9e9e;
    background-color: #fafafa;
}

.library-not-prepared .x-grid-item-focused {
    color: #9e9e9e;
}

.pool-header-red {
    color: #c62828;
}

.pool-header-green {
    color: #388e3c;
}
